<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{#if _csrf}}
        <meta name="csrf-token" content="{{_csrf}}" />
    {{/if}}
    <link rel="stylesheet" href="{{basePath}}css/styles.css" />
    <link rel="icon" type="image/png" href="{{basePath}}favicon.png" />
    <script src="{{basePath}}js/script.js"></script>
    <title>minusInfinite blog</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{basePath}}">Home</a></li>
                {{#if logged_in}}
                    <li><a href="{{basePath}}dashboard">Dashboard</a></li>
                    <li><a href="#logout" id="logout">Logout</a></li>
                {{else}}
                    <li><a href="{{basePath}}login">Admin Login</a></li>
                {{/if}}
            </ul>
        </nav>
        <h1>The minusInfinite Blog</h1>
    </header>
    <main>
        {{{body}}}
    </main>
    <!-- The below is hidden by default -->
    <div id="modal" class="modal">
        <div class="modal-container">
            <div class="modal-header">
                <h2 id="modal-header-message">Prompt</h2>
                <span class="modal-close">&times;</span>
            </div>
            <div id="modal-content" class="modal-content">
            </div>
        </div>
    </div>
    {{#if logged_in}}
        <script src="{{basePath}}js/logout.js"></script>
    {{/if}}
</body>

</html>