<section>
    <article class="post" data-id="{{post.id}}">
        <div class="post-header">
            <h2>{{post.title}}</h2>
            <span class="timestamp">posted by
                {{post.user.name}}
                on
                {{format_date post.date_created}}
            </span>
        </div>
        <div class="post-content">
            <p>
                {{post.content}}
            </p>
        </div>
    </article>
    {{#each comments as |comment|}}
        <div class="comment">
            <p>
                {{comment.content}}
            </p>
            <div class="comment-footer">
                <p>
                    <span>by
                        {{comment.user.name}}
                        on
                        {{format_date comment.date_created}}</span>
                </p>
            </div>
        </div>
    {{/each}}
    {{#if logged_in}}
        <div class="comment-form">
            <form>
                <fieldset>
                    <legend>Add Comment</legend>
                    <label for="comment-content">Content</label>
                    <textarea
                        id="comment-content"
                        name="comment-content"
                    ></textarea>
                    <input type="submit" id="submit" value="Add Comment" />
                </fieldset>
            </form>
        </div>
        <script src="{{basePath}}js/submitcomment.js"></script>
    {{/if}}
</section>
